USE [master]
GO
/****** Object:  Database [MotoyolBlog]    Script Date: 5.01.2022 15:39:39 ******/
CREATE DATABASE [MotoyolBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotoyolBlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.Leodb\MSSQL\DATA\MotoyolBlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotoyolBlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.Leodb\MSSQL\DATA\MotoyolBlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotoyolBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotoyolBlog]
GO
/****** Object:  Table [dbo].[Makaleler]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makaleler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[icerik] [varchar](max) NULL,
	[kategori_id] [int] NULL,
	[tarih] [datetime] NULL,
	[baslik] [varchar](50) NULL,
	[img] [varchar](250) NULL,
	[yazarid] [int] NULL,
 CONSTRAINT [PK_Icerik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_ad] [varchar](50) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Kat_adi]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Kat_adi] as
select k.Kategori_ad from Kategoriler k inner join makaleler m on  k.id=m.kategori_id
GO
/****** Object:  Table [dbo].[Favoriler]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[icerik_id] [int] NULL,
	[uyeno] [int] NULL,
 CONSTRAINT [PK_Favoriler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[uyeno] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
	[eposta] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[uyeno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uyeno] [int] NULL,
	[icerik_id] [int] NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[yonet_id] [int] IDENTITY(1,1) NOT NULL,
	[uyeno] [int] NULL,
	[yetki] [bit] NULL,
 CONSTRAINT [PK_Yoneticiler] PRIMARY KEY CLUSTERED 
(
	[yonet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yorum] [text] NULL,
	[icerik_id] [int] NULL,
	[uyeno] [int] NULL,
	[yorum_tarih] [datetime] NULL,
 CONSTRAINT [PK_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Favoriler] ON 

INSERT [dbo].[Favoriler] ([id], [icerik_id], [uyeno]) VALUES (11, 53, 6)
INSERT [dbo].[Favoriler] ([id], [icerik_id], [uyeno]) VALUES (12, 51, 6)
INSERT [dbo].[Favoriler] ([id], [icerik_id], [uyeno]) VALUES (21, 51, 4)
SET IDENTITY_INSERT [dbo].[Favoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([id], [Kategori_ad]) VALUES (1, N'Güncel Gelişmeler')
INSERT [dbo].[Kategoriler] ([id], [Kategori_ad]) VALUES (2, N'Anılar')
INSERT [dbo].[Kategoriler] ([id], [Kategori_ad]) VALUES (3, N'Kullanıcı Deneyimleri')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([uyeno], [ad], [eposta], [sifre], [tarih]) VALUES (4, N'Deneme', N'asd@asd.com', N'qwe123qwe', CAST(N'2021-12-30' AS Date))
INSERT [dbo].[Kullanicilar] ([uyeno], [ad], [eposta], [sifre], [tarih]) VALUES (5, N'ali', N'a1', N'a1', CAST(N'2021-12-30' AS Date))
INSERT [dbo].[Kullanicilar] ([uyeno], [ad], [eposta], [sifre], [tarih]) VALUES (6, N'Ali Veli', N'a1@a1.com', N'a1', CAST(N'2021-12-30' AS Date))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Makaleler] ON 

INSERT [dbo].[Makaleler] ([id], [icerik], [kategori_id], [tarih], [baslik], [img], [yazarid]) VALUES (42, N'sadfsadf e e 12 1selamselamselamselam231', 5, CAST(N'2021-12-29T01:54:48.413' AS DateTime), N'LAaaaaaaaa', NULL, 5)
INSERT [dbo].[Makaleler] ([id], [icerik], [kategori_id], [tarih], [baslik], [img], [yazarid]) VALUES (44, N' selamselamselamselamselamselamselamselamselamselamselam', 1, CAST(N'2021-12-29T02:02:08.030' AS DateTime), N'asd1234 12341234 ', NULL, 5)
INSERT [dbo].[Makaleler] ([id], [icerik], [kategori_id], [tarih], [baslik], [img], [yazarid]) VALUES (45, N'MVC İLE DERSLER DEVAM EDİYORMVC İLE DERSLER DEVAM EDİYORMVC İLE DERSLER DEVAM EDİYORMVC İLE DERSLER DEVAM EDİYORMVC İLE DERSLER DEVAM EDİYOR', 2, CAST(N'2021-12-30T23:38:21.640' AS DateTime), N'Persembe Makale ', NULL, 7)
SET IDENTITY_INSERT [dbo].[Makaleler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([id], [yorum], [icerik_id], [uyeno], [yorum_tarih]) VALUES (1, N'dedeneemeeee', 47, 4, CAST(N'2022-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Yorumlar] ([id], [yorum], [icerik_id], [uyeno], [yorum_tarih]) VALUES (5, N'asssssssssss', 44, 4, CAST(N'2022-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Yorumlar] ([id], [yorum], [icerik_id], [uyeno], [yorum_tarih]) VALUES (8, N'Holly shit!', 51, 11, CAST(N'2022-01-02T14:00:00.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [Fk_Fav_icerik] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[Makaleler] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [Fk_Fav_icerik]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [Fk_Fav_Kullanicilar] FOREIGN KEY([uyeno])
REFERENCES [dbo].[Kullanicilar] ([uyeno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [Fk_Fav_Kullanicilar]
GO
ALTER TABLE [dbo].[Makaleler]  WITH CHECK ADD  CONSTRAINT [FK_Icerik_Kategoriler] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[Kategoriler] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Makaleler] CHECK CONSTRAINT [FK_Icerik_Kategoriler]
GO
ALTER TABLE [dbo].[Yazarlar]  WITH CHECK ADD  CONSTRAINT [FK_Yazarlar_Icerik] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[Makaleler] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yazarlar] CHECK CONSTRAINT [FK_Yazarlar_Icerik]
GO
ALTER TABLE [dbo].[Yazarlar]  WITH CHECK ADD  CONSTRAINT [FK_Yazarlar_Kullanicilar] FOREIGN KEY([uyeno])
REFERENCES [dbo].[Kullanicilar] ([uyeno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yazarlar] CHECK CONSTRAINT [FK_Yazarlar_Kullanicilar]
GO
ALTER TABLE [dbo].[Yoneticiler]  WITH CHECK ADD  CONSTRAINT [FK_Yoneticiler_Kullanicilar] FOREIGN KEY([uyeno])
REFERENCES [dbo].[Kullanicilar] ([uyeno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yoneticiler] CHECK CONSTRAINT [FK_Yoneticiler_Kullanicilar]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Icerik] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[Makaleler] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Icerik]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Kullanicilar] FOREIGN KEY([uyeno])
REFERENCES [dbo].[Kullanicilar] ([uyeno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Kullanicilar]
GO
/****** Object:  StoredProcedure [dbo].[MakaleListesi]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[MakaleListesi] as 
select m.id,yazarid,baslik,icerik,Kategori_ad,tarih,img from Makaleler m inner join Kategoriler k on m.kategori_id=k.id order by tarih desc
GO
/****** Object:  Trigger [dbo].[kullanicilar_tarih_ekle]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE trigger [dbo].[kullanicilar_tarih_ekle]
on [dbo].[Kullanicilar]
after insert
as
begin
declare @uyeno int
select @uyeno=uyeno from inserted
update Kullanicilar set tarih =( select GETDATE()) where uyeno=@uyeno
 
end
GO
ALTER TABLE [dbo].[Kullanicilar] ENABLE TRIGGER [kullanicilar_tarih_ekle]
GO
/****** Object:  Trigger [dbo].[favori_sil]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[favori_sil]
on [dbo].[Makaleler]
after delete
as 
begin
declare @id int
select @id=id from deleted
delete from Favoriler where icerik_id=@id
end
GO
ALTER TABLE [dbo].[Makaleler] ENABLE TRIGGER [favori_sil]
GO
/****** Object:  Trigger [dbo].[tarih_ekle]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[tarih_ekle]
on [dbo].[Makaleler]
after insert
as
begin
declare @id int
select @id=id from inserted
update Makaleler set tarih =( select GETDATE()) where id=@id
 
end
GO
ALTER TABLE [dbo].[Makaleler] ENABLE TRIGGER [tarih_ekle]
GO
/****** Object:  Trigger [dbo].[yorumlar_tarih_ekle]    Script Date: 5.01.2022 15:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create trigger [dbo].[yorumlar_tarih_ekle]
on [dbo].[Yorumlar]
after insert
as
begin
declare @id int
select @id=id from inserted
update Yorumlar set yorum_tarih =( select GETDATE()) where id=@id
 
end
GO
ALTER TABLE [dbo].[Yorumlar] ENABLE TRIGGER [yorumlar_tarih_ekle]
GO
USE [master]
GO
